body {
  background-color: rgb(251, 215, 252);
  font-size: 48px;
  color: rgb(22, 64, 31);
  line-height: 1.2;
  text-align: justifyAll;
}
.wrapper {
  margin: 0 auto;
}


h1 {
  font-family: "Scotch Display Condensed";
  font-size: 160px;
  color: rgb(22, 64, 31);
  font-weight: bold;
  position: absolute;
  left: 27.117px;
  bottom: -100px;
}


.entries {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 20px 20px;
  padding: 20px;
  gap: 50px;
  width: 200px;
  font-size: 30px;
  font-family: "Scotch Text";
  position: absolute;
  left: 1500px;
  top: 170px;

}

a:link {
  color: rgb(22, 64, 31);
  text-decoration: none;
}

a:visited {
  color: rgb(22, 64, 31);
  text-decoration: none
}

a:hover {
  color: #fdf2ff;
  text-decoration: underline;
}