body {
  font-family: scotch-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(254, 254, 254);
}


@media (max-width: 992px) {
  h1 {
    font-size: 50px;
  font-family: "Scotch Display";
  color: rgb(254, 254, 254);
  line-height: 1.2;
  text-align: center;
  }
}


.background {
  background-image: url("background.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: 2;
}


.border {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 54px;
  margin: 45px;
  position: absolute;
 /* left: 45px;
  top: 35px;*/
  width: 180vh;
  height: 90vh;
  z-index: 3;
}

.oval {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 50%;
  margin: 100px;
  position: absolute;
  top: -20px;
  width: 90vw;
  height: 85vh;
  z-index: 4;
}

.back {
  border-radius: 100px;
  border-style: solid;
  border-color: rgb(255, 255, 255) ;
  padding: 30px;
  position: absolute;
  top: 66px;
  left: 66px;
  width: 30px;
  height: 30px;
  z-index: 11;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.container {
  display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    position: absolute;
    top: 30vh;
    align-items: center;
}


#coin {
  width: 200px;
  animation: coinspin 5s ease-out infinite running;
  /*position: absolute;
  top: 45vh;
  left: 30%;*/

}

@keyframes coinspin {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

h1 {
  font-size: 60px;
  font-family: "Scotch Display";
  color: rgb(254, 254, 254);
  line-height: 1.2;
  text-align: center;
/*  position: absolute;
  left: 30%px;
  top: 159px;*/
  z-index: 5;
}

p {
  font-size: 30px;
  font-family: "Scotch Display";
  color: rgb(254, 254, 254);
  line-height: 1.2;
  text-align: center;
  /*position: absolute;
  left: 30%px;
  top: 235.437px;*/
  z-index: 8;
}

.extra {
  font-size: 15px;
  display: inline-flex;
  position: absolute;
  gap: 195px;
  top: 65vh;
  left: 65vh;

}
